<div class="container">
    <div class="row tasks-field">
        {% for task in tasks %}
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">TODO</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-success">
                                <span class="widget-49-date-day">{{ task.getCreatedAt().format('d') }}</span>
                                <span class="widget-49-date-month">{{ task.getCreatedAt().format('M') }}</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">{{ task.getTitle() }}</span>
                                <span class="widget-49-meeting-time">Expires: {{ task.getExpires().format('Y-m-d h:i:s') }}</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            {{ task.getDescription() }}
                        </ol>
                        <div class="widget-49-meeting-action">
                            <form action="/delete" method="post">
                                <input type="hidden" name="task_id" value="{{ task.getId() }}">
                                <input class="btn btn-sm btn-flash-border-success" type="submit" value="Delete task">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-4 pb-4">
                    <div class="widget-49 d-flex justify-content-center">
                        <h1><a class="text-decoration-none link-info" href="/create">Create New TODO</a></h1>
                    </div>
                </div>
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
            </div>
        </div>
    </div>
</div>
